################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
/.vs/Hands-On-Machine-Learning-With-ML.NET/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
*.v2
/chapter02/.vs/chapter02/FileContentIndex/8fb7545c-94b5-46be-84af-3a6bf82acc43.vsidx
/chapter02/.vs/chapter02/v17/.suo
/chapter02/.vs/chapter02/v17/DocumentLayout.json
/chapter02/.vs/ProjectEvaluation/chapter02.metadata.v8.bin
/chapter02/.vs/ProjectEvaluation/chapter02.projects.v8.bin
/chapter02/.vs/ProjectEvaluation/chapter02.strings.v8.bin
/chapter02/bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/libCpuMathNative.so
/chapter02/bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/libLdaNative.so
/chapter02/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/libCpuMathNative.dylib
/chapter02/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/libLdaNative.dylib
/chapter02/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/CpuMathNative.dll
/chapter02/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/LdaNative.dll
/chapter02/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/CpuMathNative.dll
/chapter02/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/LdaNative.dll
/chapter02/bin/Debug/netcoreapp3.0/chapter02.deps.json
/chapter02/bin/Debug/netcoreapp3.0/chapter02.dll
/chapter02/bin/Debug/netcoreapp3.0/chapter02.exe
/chapter02/bin/Debug/netcoreapp3.0/chapter02.pdb
/chapter02/bin/Debug/netcoreapp3.0/chapter02.runtimeconfig.dev.json
/chapter02/bin/Debug/netcoreapp3.0/chapter02.runtimeconfig.json
/chapter02/bin/Debug/netcoreapp3.0/chapter2.mdl
/chapter02/bin/Debug/netcoreapp3.0/Microsoft.ML.Core.dll
/chapter02/bin/Debug/netcoreapp3.0/Microsoft.ML.CpuMath.dll
/chapter02/bin/Debug/netcoreapp3.0/Microsoft.ML.Data.dll
/chapter02/bin/Debug/netcoreapp3.0/Microsoft.ML.DataView.dll
/chapter02/bin/Debug/netcoreapp3.0/Microsoft.ML.KMeansClustering.dll
/chapter02/bin/Debug/netcoreapp3.0/Microsoft.ML.PCA.dll
/chapter02/bin/Debug/netcoreapp3.0/Microsoft.ML.StandardTrainers.dll
/chapter02/bin/Debug/netcoreapp3.0/Microsoft.ML.Transforms.dll
/chapter02/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
/chapter02/bin/Debug/netcoreapp3.0/System.CodeDom.dll
/chapter02/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
/chapter02/obj/Debug/netcoreapp3.0/apphost.exe
/chapter02/obj/Debug/netcoreapp3.0/chapter02.AssemblyInfo.cs
/chapter02/obj/Debug/netcoreapp3.0/chapter02.AssemblyInfoInputs.cache
/chapter02/obj/Debug/netcoreapp3.0/chapter02.assets.cache
/chapter02/obj/Debug/netcoreapp3.0/chapter02.csproj.AssemblyReference.cache
/chapter02/obj/Debug/netcoreapp3.0/chapter02.csproj.BuildWithSkipAnalyzers
/chapter02/obj/Debug/netcoreapp3.0/chapter02.csproj.CoreCompileInputs.cache
/chapter02/obj/Debug/netcoreapp3.0/chapter02.csproj.FileListAbsolute.txt
/chapter02/obj/Debug/netcoreapp3.0/chapter02.csproj.Up2Date
/chapter02/obj/Debug/netcoreapp3.0/chapter02.dll
/chapter02/obj/Debug/netcoreapp3.0/chapter02.GeneratedMSBuildEditorConfig.editorconfig
/chapter02/obj/Debug/netcoreapp3.0/chapter02.genruntimeconfig.cache
/chapter02/obj/Debug/netcoreapp3.0/chapter02.pdb
/chapter02/obj/Debug/netcoreapp3.0/chapter02.sourcelink.json
/chapter02/obj/chapter02.csproj.nuget.dgspec.json
/chapter02/obj/chapter02.csproj.nuget.g.props
/chapter02/obj/chapter02.csproj.nuget.g.targets
/chapter02/obj/project.assets.json
/chapter02/obj/project.nuget.cache
/chapter03_linear_regression/.vs/chapter03/config/applicationhost.config
/chapter03_linear_regression/.vs/chapter03/FileContentIndex/5be2e401-bc06-467d-b24d-d1c3207105b6.vsidx
/chapter03_linear_regression/.vs/chapter03/v16
/chapter03_linear_regression/.vs/chapter03/v16/.suo
/chapter03_linear_regression/.vs/chapter03/v17
/chapter03_linear_regression/.vs/chapter03/v17/.suo
/chapter03_linear_regression/.vs/chapter03/v17/DocumentLayout.json
/chapter03_linear_regression/.vs/ProjectEvaluation/chapter03.metadata.v8.bin
/chapter03_linear_regression/.vs/ProjectEvaluation/chapter03.projects.v8.bin
/chapter03_linear_regression/.vs/ProjectEvaluation/chapter03.strings.v8.bin
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/chapter03.deps.json
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/chapter03.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/chapter03.exe
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/chapter03.pdb
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/chapter03.runtimeconfig.dev.json
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/chapter03.runtimeconfig.json
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/chapter3.mdl
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/Microsoft.ML.Core.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/Microsoft.ML.CpuMath.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/Microsoft.ML.Data.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/Microsoft.ML.DataView.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/Microsoft.ML.KMeansClustering.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/Microsoft.ML.PCA.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/Microsoft.ML.StandardTrainers.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/Microsoft.ML.Transforms.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/libCpuMathNative.so
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/libLdaNative.so
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/libCpuMathNative.dylib
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/libLdaNative.dylib
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/win-x64/native
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/CpuMathNative.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/LdaNative.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/win-x86/native
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/CpuMathNative.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/LdaNative.dll
/chapter03_linear_regression/bin/Debug/netcoreapp3.0/System.CodeDom.dll
/chapter03_linear_regression/obj/chapter03.csproj.nuget.dgspec.json
/chapter03_linear_regression/obj/chapter03.csproj.nuget.g.props
/chapter03_linear_regression/obj/chapter03.csproj.nuget.g.targets
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/apphost.exe
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.AssemblyInfo.cs
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.AssemblyInfoInputs.cache
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.assets.cache
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.csproj.AssemblyReference.cache
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.csproj.BuildWithSkipAnalyzers
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.csproj.CoreCompileInputs.cache
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.csproj.FileListAbsolute.txt
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.csproj.Up2Date
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.dll
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.GeneratedMSBuildEditorConfig.editorconfig
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.genruntimeconfig.cache
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.pdb
/chapter03_linear_regression/obj/Debug/netcoreapp3.0/chapter03.sourcelink.json
/chapter03_linear_regression/obj/project.assets.json
/chapter03_linear_regression/obj/project.nuget.cache
